*{
    margin:0%;
    padding: 0%;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
}

html{
  background-color: lightgreen;
}

body{
    max-width: 800px;
    margin:auto;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color:white;
}

#main{
    text-align: center;
    color: lightgreen;
    font-size: 250%;
    padding-bottom: 20px;
}

#profileInfoTab{
    max-width: 600px;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 30px;
    border-spacing: 20px;
}

#headshot{
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(144,238,144,0.9);
}

h2{
    color: darkgreen;
    font-size: 1.8em;
    margin-top: 30px;
    text-align: center;
}

ul{
    list-style-type:square;
    margin-left: 40px;
    margin-bottom: 30px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

a{
    color: rgb(50,50,176);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
